---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/profile_pictures.jpg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, institute, research_areas } = profile
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Research Areas -->
	<section class='py-12 border-b'>
		<Grid gridTitle='Research Areas' gridItems={research_areas} />
	</section>

	<!-- CV Section -->
	<section class="py-12 border-b text-center">
		<h2 class="text-2xl font-bold mb-4">Curriculum Vitae</h2>

		<div class="flex justify-center">
			<iframe
				src="/assets/CV.pdf"
				width="80%"
				height="600px"
				class="border rounded-lg shadow-lg"
				title="CV PDF"
			></iframe>
		</div>

		<div class="mt-6">
			<a
				href="/assets/CV.pdf"
				download
				class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition"
			>
				Descargar CV
			</a>
		</div>
	</section>

	<!-- Recent Publications -->
	<section class='py-12 border-t'>
		<ArticleList listTitle='Recent Publications' listItems={publications} />
	</section>
</Layout>
